div.post {
    /* border:1px solid black; */
    margin: 0.5rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-width: 650px;
    min-width:360px ;
    margin: auto;
}

div.post>.postHaed {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.4rem;
}
div.post>.postHaed > img{
border-radius: 50%;
}
div.post h1{
    margin-bottom: 0;
    margin-top: 0;

}
div.post .date {
    color: #BABABC;
}
div.postFooter{
    display: flex;
    justify-content: space-around;
}
.postImg{
    width: 100%;
    height: 100%;
}
div.postFooter > .button{
    color: #59626b;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 0.3rem 1rem;
    margin: 0 1rem;
    flex-grow: 1;
    text-align: center;
    margin-top: 10px;

}